@model Volton.ViewModels.HomeIndexViewModel

@* body content for business card *@
<div class="mb-5">
    <label class="text-primary text-small">The Agreed power of my provision is: </label>
    <div class="d-flex gap-3 flex-wrap mt-2">

        <input type="radio" class="btn-check" name="BusinessInterestType" id="business-change" value="Upto 25kVa (C-21)" @(Model.BusinessInterestType == "Upto 25kVa (C-21)" ? "checked" : "") autocomplete="off">
        <label class="btn btn-secondary text-small" for="business-change">Upto 25kVa (C-21)</label>

        <input type="radio" class="btn-check" name="BusinessInterestType" id="business-new" value="Frm 25 to 250kVa (C-22)" @(Model.BusinessInterestType == "Frm 25 to 250kVa (C-22)" ? "checked" : "") autocomplete="off">
        <label class="btn btn-secondary text-small" for="business-new">Frm 25 to 250kVa (C-22)</label>

        <input type="radio" class="btn-check" name="BusinessInterestType" id="business-re" value="Regardless of Power & Night (C-23)" @(Model.BusinessInterestType == "Regardless of Power & Night (C-23)" ? "checked" : "") autocomplete="off">
        <label class="btn btn-secondary text-small" for="business-re">Regardless of Power & Night (C-23) </label>

    </div>
</div>