
@{
}


@* body content for appartment card *@
<div class="mb-5">
    <label class="text-primary">Already a customer?</label>
    <div class="d-flex gap-3 flex-wrap mt-2">
        <input type="radio" class="btn-check" name="AppartmentIsCustomer" id="appartment-customerYes" autocomplete="off">
        <label class="btn btn-secondary" for="appartment-customerYes">Yes</label>

        <input type="radio" class="btn-check" name="AppartmentIsCustomer" id="appartment-customerNo" autocomplete="off">
        <label class="btn btn-secondary" for="appartment-customerNo">No</label>
    </div>
</div>


<div class="mb-5">
    <label class="text-primary">I'm interested in:</label>
    <div class="d-flex gap-3 flex-wrap mt-2">

        <input type="radio" class="btn-check" name="AppartmentInterestType" id="appartment-change" autocomplete="off">
        <label class="btn btn-secondary" for="appartment-change">Change provider</label>

        <input type="radio" class="btn-check" name="AppartmentInterestType" id="appartment-new" autocomplete="off">
        <label class="btn btn-secondary" for="appartment-new">New Connection</label>

        <input type="radio" class="btn-check" name="AppartmentInterestType" id="appartment-re" autocomplete="off">
        <label class="btn btn-secondary" for="appartment-re">Re-electrification</label>

    </div>
</div>
