
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Volton</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/css/" rel="stylesheet" />
    <link rel="stylesheet" href="~/Volton.styles.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <link href="~/css/Home.css" rel="stylesheet" />
    <link href="~/css/Common.css" rel="stylesheet" />
    <link href="~/css/Cards.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
</head>
<body class="d-flex flex-column min-vh-100">
    @* passying model in it *@
    @Html.Partial("_Header", new Volton.ViewModels.HeaderViewModel { Title = "Welcome to Online Application", Subtitle = "Choose what interests you" })

    @*Render Body Content*@
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @* footer *@
    <footer class="footer border-top-blue"> 
        <div class="container-fluid px-0 ">
            <div class="row text-center text-md-start align-items-center">

                <div class="col-lg-4 col-md-4 col-sm-4 mb-md-0 d-none d-sm-flex justify-content-center justify-content-md-start px-0">
                    <img src="~/images/left_footer.png" alt="left-footer" class="img-fluid" />
                </div>


                <div class="col-lg-4 col-md-4 col-sm-4 text-center ">
                    <div class="d-flex align-items-center justify-content-center flex-column lh-sm">
                        <div class="footer-middle-images .d-none d-sm-flex">
                            <img src="~/images/middle_footer_1.png" class="footer-img img-front position-absolute" alt="Footer Image 1" height="50px" width="50px" />
                            <img src="~/images/middle_footer_2.png" class="footer-img img-behind " alt="Footer Image 2" height="50px" width="50px" />
                        </div>
                        <a href="#" class="text-decoration-none text-small mb-0 ">Contact</a>
                        <a href="#" class="text-decoration-none text-small mb-0">Privacy</a>
                        <span class="text-small text-primary m-0">
                            © 2020 volton.gr | All rights reserved
                            Competent Regulatory Authority: RAE
                        </span>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 d-none d-sm-flex justify-content-center justify-content-md-end px-0">
                    <img src="~/images/right_footer.png" alt="right-footer" class="img-fluid" />
                </div>

            </div>
        </div>
    </footer>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
