<body>

@* body content for home card *@
<div class="mb-5">
    <label class="text-primary">Already a customer?</label>
    <div class="d-flex gap-3 flex-wrap mt-2">
        <input type="radio" class="btn-check" name="IsCustomer" id="customerYes" autocomplete="off">
        <label class="btn btn-secondary" for="customerYes">Yes</label>

        <input type="radio" class="btn-check" name="IsCustomer" id="customerNo" autocomplete="off">
        <label class="btn btn-secondary" for="customerNo">No</label>
    </div>

</div>



<div class="mb-5">
    <label class="text-primary">Interested in a second power supply?</label>
    <div class="d-flex gap-3 flex-wrap mt-2">
        <input type="radio" class="btn-check" name="SecondPower" id="powerYes" autocomplete="off">
        <label class="btn btn-secondary" for="powerYes">Yes</label>

        <input type="radio" class="btn-check" name="SecondPower" id="powerNo" autocomplete="off">
        <label class="btn btn-secondary" for="powerNo">No</label>
    </div>

</div>

<div class="mb-5">
    <label class="text-primary">I'm interested in:</label>
    <div class="d-flex gap-3 flex-wrap mt-2">

        <input type="radio" class="btn-check" name="InterestType" id="change" autocomplete="off">
        <label class="btn btn-secondary" for="change">Change provider</label>

        <input type="radio" class="btn-check" name="InterestType" id="new" autocomplete="off">
        <label class="btn btn-secondary" for="new">New Connection</label>

        <input type="radio" class="btn-check" name="InterestType" id="re" autocomplete="off">
        <label class="btn btn-secondary" for="re">Re-electrification</label>

    </div>
</div>


<div class="mb-5">
    <label class="text-primary">Do you have a Day or Night counter?</label>
    <div class="d-flex gap-3 flex-wrap mt-2">
        <input type="radio" class="btn-check" name="CounterType" id="day" autocomplete="off">
        <label class="btn btn-secondary" for="day">Daily</label>

        <input type="radio" class="btn-check" name="CounterType" id="night" autocomplete="off">
        <label class="btn btn-secondary " for="night">Nocturnal</label>
    </div>
</div>

</body>

