<!-- Section -->
<div class="border rounded p-4">
    <h5 class="fw-semibold fs-3 text-primary mb-5 mt-4">Necessary Documents:</h5>

    <p class="mb-0 text-success fw-bold ">1. Identity</p>
    <p class="text-primary mt-0 pt-0">
        Photocopy of ID (2 sides) or Passport or Residence Permit or Driver’s License
    </p>

    <p class="mb-0 text-success fw-bold mt-3">2. Connection contracts with DEDDIE</p>
    
    <p class="text-primary">Copy of connection contract with DEDDIE</p>
    
</div>