
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Volton</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/Common.css" rel="stylesheet" />
    <link href="~/css/onboarding.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/css/" rel="stylesheet" />
    <link rel="stylesheet" href="~/Volton.styles.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />

    @await RenderSectionAsync("Styles", required: false)
</head>
<body class="d-flex flex-column min-vh-100">
    

    @await Html.PartialAsync("_Header", new Volton.ViewModels.HeaderViewModel { Title = "Online Application", Subtitle = "" })

    @* stepper *@
        @{
            int currentStep = ViewData["CurrentStep"] as int? ?? 1;
            string StepClass(int step)
            {
                if (step < currentStep) 
                    return "bg-success text-white";
                if (step == currentStep) 
                    return "bg-primary text-white";
                    
                return "border border-secondary text-secondary bg-white";
            }
        }

        <div class="container-fluid px-0 mt-3 position-relative">
            <div class="row align-items-center">

                
                <div class="col-12 col-lg-2 d-none d-lg-block text-start ps-4">
                    <a href="/" class="text-primary fw-bold text-decoration-none">
                        &lt; Back to home page
                    </a>
                </div>

                <!-- Stepper: always centered -->
            <div class="col-12 col-lg-8 d-flex justify-content-center">
                <div class="d-flex flex-wrap align-items-center justify-content-center gap-2 gap-md-3">
                    @for (int i = 1; i <= 4; i++)
                    {
                        <div class="rounded-circle d-flex align-items-center justify-content-center fw-bold @StepClass(i)"
                             style="width: 36px; height: 36px;">
                            @i
                        </div>
                        @if (i < 4)
                        {
                            <div class="step-line"></div>
                        }
                    }
                </div>
            </div>


                <div class="col-12  d-block d-lg-none text-start mt-2" >
                    <a href="/" class="text-primary fw-bold text-decoration-none">
                        &lt; Back to home page
                    </a>
                </div>
            </div>
        </div>

        @* stepper end *@


    @*Render Body Content*@
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @Html.Partial("_Footer")


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
