<!-- Provider on anotehr name Section -->
<div class="border rounded p-4">
    <h5 class="fw-semibold fs-3 text-primary mb-5 mt-4">Necessary Documents:</h5>

    <p class="mb-0 text-success fw-bold ">1. Identity</p>
    <p class="text-primary">
        Photocopy of ID (2 sides) or Passport or Residence Permit or Driver’s License
    </p>

    <p class="mb-2 text-success fw-bold mt-3">2. Account</p>
    <ul class="text-primary ps-3">
        <li>Copy of last bill</li>
        <li>Proof of payment if the due date has passed</li>
    </ul>
</div>