<!-- Re electrification Section -->
<div class="border rounded p-4">
    <h5 class="fw-semibold fs-3 text-primary mb-5 mt-4">Necessary Documents for Owner</h5>

    <p class="mb-0 text-success fw-bold ">1. Identity</p>
    <p class="text-primary">
        Photocopy of ID (2 sides) or Passport or Residence Permit or Driver’s License
    </p>
    <p class="mb-0 text-success fw-bold ">1. Account</p>
    <p class="text-primary">
        Copy of last Bill
    </p>

    <p class="mb-0 text-success fw-bold ">1. Copy of E9</p>

    <h5 class="fw-bold text-primary mb-4">Necessary Documents for Tenant</h5>

    <p class="mb-0 text-success fw-bold ">1. Identity</p>
    <p class="text-primary">
        Photocopy of ID (2 sides) or Passport or Residence Permit or Driver’s License
    </p>
    <p class="mb-0 text-success fw-bold ">1. Account</p>
    <p class="text-primary">
        Copy of last Bill
    </p>

    <p class="mb-2 text-success fw-bold ">1. Copy of Taxis Lease</p>
</div>