
.option-card {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px 15px;
    width: 180px;
    cursor: pointer;
    background-color: #fff;
    transition: 0.3s ease;
    text-align: center;
}
.option-card:hover {
        border-color: #005ca9;
        box-shadow: 0 0 10px rgba(0, 92, 169, 0.15);
}

.option-card.selected {
        border-color: #005ca9;
}

.option-card input[type="radio"] {
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
}

.checkmark {
    position: absolute;
    top: 8px;
    right: 8px;
    color: #198754;
    font-size: 1.2rem;
    background-color: #FCFCFC;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.breadcrumb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.step-indicator {
    display: flex;
    gap: 15px;
}

.step {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .step.active {
        background-color: #007bff;
        color: white;
    }


.form-navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
